*{
            padding:0px;
            margin:0px;
        }
        body{
            background:linear-gradient(rgb(59, 30, 30), white);
        }

        .Header{
            margin-top:5%;
            margin-left: 5%;
            margin-right: 5%;
            height: 40vh;
            border:solid black 1px;
            background:linear-gradient(grey, white);    
            display:flex;
            
        }
        .H1{
            margin-top:30vh;
            margin-left:30%;
            padding-right: ;

        }
        .img{
            margin-top:2%;
            margin-left:2%;
            width: 15vw;
            height: 30vh;
        }
        .link-header{
            margin-top:35vh ;
            margin-left:30%;
            
            
            
        }
        .Nav{
            margin:5%;
            border: solid black 0.5px;
            background-color: white;

        }
        .link-nav{
            padding:10%;
            padding-left:10%;
        }

        .asidde{
            border: solid black 1px;
            width: 20%;
            background-color: lightblue ;
            
        }

        .mmain{
            border: solid black 1px;
            width: 70%;
            margin-left: 10%;
            background-color: lightblue ;
        } 
        .divv{
            display:flex;
            height: 50vh;
            margin:5%
        }

        .div-aside{
            width: 70%;
            text-align: center;
        }

        .texto{
            margin: 30%;
        }
        .texto-main{
            padding:7%
        }

        .buttom{
            width: 90%;
            margin-left: 15px;
            background:linear-gradient(rgb(77, 147, 152), white);
            margin-top: 20%;
        }