*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(138, 143, 134);
}
.header {
    background-color: rgb(1, 235, 215);
    color:rgb(230, 229, 225);
    
}

.button {
    text-align: right;
    margin-left: 90%;
    margin-bottom: 1%;
    padding: 0.5%;
    margin-right:3%;
    
}

.nav{
    text-align:center;
    padding: 1%;
    padding-bottom: 5%;
    border:solid black 1px ;
    width: 100%;
    height: auto;
    margin:1%;
    font-size:15px ;
    width: 100%;

}

.links-nav{
    padding-left:3%;
    margin-top: 9%;
    color:rgb(28, 149, 165);
}

.footer-index{
    display:flex;
    background-color: rgb(0, 0, 0);
    color:white;
    height: 10vh;
    width: 100%;
    left:0;
    right:0;
    bottom:0;
    position: fixed;
}
.div-aside-main{
    display:flex;
}

.aside-index{
    border: solid black 1px;
    width: 200vw;
    height: auto;
    margin-left:3%;
    margin-bottom: 10%;
    padding:1%;
    
    
}

.links-aside{
    
    margin-top: 9%;
    color:rgb(28, 149, 165);
}

.main-index{
    border: solid black 1px;
    margin-right:10%;
    margin-left:10%;
    margin-bottom:10%;
}
